@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(to bottom right, $primaryBGColor, $secondaryBGColor);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.app {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}