.home {
    color: #fff;
    text-align: center;

    &__logo-cont {
        margin-bottom: 3rem;
    }

    &__logo {
        height: 4rem;
    }

    &__headline {
        font-size: 1.6rem;
        letter-spacing: .1rem;
        margin: 2rem 0;
    }

    &__instructions {
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__barcode {
        margin-top: 2rem;
    }

    &__rescan-msg {
        margin-top: 2rem;
    }

    .start {

        &__btn {
            border: 1px solid #fff;
            border-radius: 100px;
            background: transparent;
            color: #fff;
            cursor: pointer;
            font-size: 1.6rem;
            margin-top: 2rem;
            padding: 1rem 3rem;
            -webkit-transition: all .5s ease;

            &:hover {
                background-color: #fff;
                color: $primaryBGColor2;
            }
        }
    }

   
}

